* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btncustom {
  margin-top: 30px !important;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  background-color: azure;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 40px;
  border-radius: 20px;
}
.form-label {
  text-align: center;
  display: block;
}
